/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

body{
    height: 200vh;
}

.shape{
    height: 100px;
    width: 100px;
    background-color: $light;
    border-radius: 25px;
    // opacity: .5;

}
