/* =============
    Typography
============= */
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: $light;
    font-size: 1.5rem;
}
