#download {
    align-items: center;
    background-color: $light;
    display: flex;
    height: 90vh;
    justify-content: center;

    a:link,
    a:visited {
        background-color: $orange;
        border-radius: 15px;
        color: $white;
        margin-top: 5rem;
        font-size: 5rem;
        font-weight: 700;
        padding: 3rem;
        text-decoration: none;
        transition: 0.25s;
    }

    a:active,
    a:hover {
        background-color: $white;
        color: $orange;
    }
}
