#explanation {
    background-color: $orange;
    height: 100vh;

    h3 {
        color: $white;
        font-size: 3rem;
        padding: 20vh 0 15vh;
        text-align: center;
    }

    section {
        display: grid;
        grid-gap: 5%;
        grid-template-areas: ". html js .";
        grid-template-columns: "auto 20% 20% auto";

        article {
            background-color: $white;
            border-radius: 25px;
            padding: 1.5rem;

            h4 {
                color: $yellow;
                font-size: 2rem;
                padding-bottom: 1rem;
                text-align: center;
            }

            xmp {
                color: $black;
                font-size: 1.2rem;
                margin: auto;
                opacity: 0.75;
                padding: 1rem;
            }
        }

        #ex1 {
            grid-area: html;
        }

        #ex2 {
            grid-area: js;
        }
    }
}
