#hero {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    #container {
        section {
            h1 {
                border-radius: 10px;
                color: $yellow;
                font-size: 8rem;
                font-weight: 700;
                padding: 0.5rem 3rem 3rem;
                text-align: center;
            }

            h2 {
                color: $yellow;
                font-size: 2rem;
                font-weight: 700;
                text-align: center;
            }
        }

        article {
            display: flex;
            justify-content: center;

            h3 {
                background-color: $orange;
                border-radius: 25px;
                font-weight: 500;
                height: auto;
                padding: 1rem 1.5rem;
                text-align: center;
                width: 300px;
            }
        }

        #shape2 {
            margin-left: auto;
        }
    }
}
